<nav>
    <div class="la-nav-container sticky-top">
        <div class="la-navTitle d-flex justify-content-center position-relative align-items-center w-100"><h1 class="la-lolo">LuggAdvisor</h1>
            <a href="/luggage"><img class="la-suitcase position-absolute top-0 start-0" src="/assets/images/luggadvisorLogo.png" alt="Drawing of a suitcase"></a></div>
        </div>
    </div>
</nav>
