<nav>
    <div class="la-nav-container">
        <img class="" src="/assets/images/luggadvisorLogo.png" alt="Drawing of a suitcase">
        <div class="la-nav-appName"><h1>LuggAdvisor</h1></div>
    </div>
</nav>
