@import "modules/index.css";
@import "modules/select.css";

body {
    background-image: linear-gradient(var(--bs-success-bg-subtle), var(--bs-warning-bg-subtle));
    height: 100vh;
}

h1 {
    font-family: 'Caveat', cursive;
}

h2, p{
    font-family: 'Montserrat', sans-serif;
}

h5 {
    font-size: 1em;
}
