.al-checkGreen:checked {
    background-color: darkgreen;
    border-color: darkgreen;

}
.al-image-card {
    height: 10vh;
    text-align: center;
}

div.al-image-card img {
    width: auto;
    height: 10vh;
}

.card:last-child{
    margin-right: auto;
    margin-left : 1.4rem;

}

.al-card-container {
    max-height:350px;
}
