{% extends 'layout.html.twig' %}

{% block content %}

    <h2>le résultat</h2>
    <p>Ne partez plus jamais en oubliant des choses dans votre valise !</p>

    <p>Et là le résultat</p>

    <h3>Un dernier tip avant votre départ...</h3>
    <p>Là où vous allez, il fait {{ contents.temp }} degrés !</p>


{% endblock %}
