{% extends 'layout.html.twig' %}

{% block content %}

    <h2>le résultat</h2>
    <p>Ne partez plus jamais en oubliant des choses dans votre valise !</p>

    <p>Et là le résultat</p>

{% endblock %}
