{% extends 'layout.html.twig' %}

{% block content %}
    <h2>La valise idéale</h2>
    <p>Dans la valise il y a :</p>
    <ul>
        {% for luggage in luggages %}
        <li class="al-image-result">
        {{ luggage}}
        </li>
        {% endfor %}
    </ul>

    <h3>Un dernier tip avant votre départ...</h3>
    <p>Là où vous allez, il fait {{ contents.temp }} degrés !</p>
{% endblock %}
